<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body style="font-family:verdana;">
<h1 style="border:1px; border-style:solid; border-color:#FF0000; padding: .1em; text-align:center"><br /> United Services Energy<br /></h1>



<div class="banner-wrap">

    <div class="w3-content">
 <img class="mySlides" src="https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
      style="width:100%">

 <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
 <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

    <div align="center">
 <marquee behavior="alternate" bgcolor="#bb3434" direction="left" height:=""
 loop="20" scrollamount="1" scrolldelay="5" width="100%">
 <span style="font-size: 20px;color:#FFFFFF">
 Reduce your utility costs today! Home and Business!</span></marquee>
</div>







<table style="width:100%">
    <h2 style="text-align:center">Average KW Costs</h2>
  <tr>
    <th>Commercial: KWH Price</th>
    <th>Residential: KWH Price</th>
  </tr>


  <tr>
    <td>Philadelphia</td>
    <td>50</td>
      <td>50</td>
  </tr>


    <tr>
    <td>Pennsylvania</td>
    <td>50</td>
    <td>50</td>
    </tr>


    <tr>
    <td>United Stated</td>
    <td>50</td>
    <td>50</td>
    </tr>

    <tr>
    <td>Asia</td>
    <td>50</td>
    <td>50</td>
    </tr>

    <tr>
    <td>Europe</td>
    <td>50</td>
    <td>50</td>
    </tr>


    <tr>
    <td>UAfrica</td>
    <td>50</td>
    <td>50</td>
    </tr>
</table>





<p style="text-align:center;"><img src = "https://media.giphy.com/media/cR9cLG8VNa3m0/giphy.gif" class="center"><br />





<!--

<div id="container">
	<ul>
      	<li><img src="https://images.pexels.com/photos/7000/fre-sonneveld-powerlines.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="400" height="200" /></li>
            <li><img src="https://images.pexels.com/photos/421888/pexels-photo-421888.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="604" height="453" /></li>
            <li><img src="https://images.pexels.com/photos/207489/pexels-photo-207489.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" width="604" height="453" /></li>
            <li><img src="https://images.pexels.com/photos/87236/pexels-photo-87236.jpeg?cs=srgb&dl=architecture-clouds-drilling-rig-87236.jpg&fm=jpg" width="604" height="453" /></li>
            <li><img src="https://media3.giphy.com/media/JFXRHt0q5J8be/giphy.gif?cid=790b76115ce4bbf94f49453063647dff&rid=giphy.gif" width="604" height="453" /></li>
      </ul>
      <span class="button prevButton"></span>
      <span class="button nextButton"></span>
</div>

-->

				<div class="wsite-elements wsite-not-footer wsite-header-elements">
	<div class="wsite-section-wrap">
	<div  class="wsite-section wsite-header-section wsite-section-bg-image"
          style="height: 481px;vertical-align: bottom;background-image:
          url(&quot;/uploads/9/3/5/3/93533432/background-images/42587839.jpg&quot;)
          ;background-repeat: no-repeat ;background-position: 52.88% 85.05% ;background-size: 100%
          ;background-color: transparent ;background-size: cover;" >
		<div class="wsite-section-content">

					<div class="container">
                        <div class="banner">
				<div class="wsite-section-elements">
					<h2 class="wsite-content-title"
                        style="text-align:center; background-color:rgb(218, 239, 211);">
                        <font size="4">functioning at the intersection<br />
                        of energy and innovation<br /><br /><br /><br />United Services energy is your<br />
                        &#8203;trusted partner in energy management and<br />&#8203;auditing</font></h2>

<h2 class="wsite-content-title" style="text-align:center;"><font size="4">

        <br />Our data driven approach leverages market energy prices<br />
        <br />We've sorted through the details and our expert analysts have done the research:<br />
        &#8203;leading to more desirable prices for your energy needs.</font><br />
    </h2>





<h2 class="wsite-content-title" style="text-align:center; background-color:rgb(218, 239, 211);">
    <font size="4">
    <font color="#24678d">Shopping for energy can be complicated;<br />
        we make it simple.<br />We've analyzed hundreds of energy suppliers to better<br />
        understand energy options.<br />We've sorted through the details and our<br />
        &#8203;experts can connect you to the ideal </font><br />
    <font color="#c2a43b">electricity </font><font color="#24678d">and</font>
    <font color="#5fa233">natural gas</font> <font color="#24678d">supplier</font>
    <font color="#5ca5e0">.</font></font></h2>

<!-- this comment sout the below code block

<form style="text-align:center;">
  First name:<br>
  <input type="text" name="firstname"><br>
  Last name:<br>
  <input type="text" name="lastname">
</form>
-->


<h4>CLAIM YOUR SAVINGS, AND DISCOVER<br />
                    YOUR OPTIONS FOR MORE AFFORDABLE<br />
                    ENERGY BY FILLING OUT THE FORM BELOW</h4>
<form>
  Name:<br>
  <input type="text" name="Name"><br>
  Email:<br>
  <input type="text" name="Email Address">

</form>





<h2 class="wsite-content-title" style="text-align:center; background-color:rgb(0, 0, 211);">
    <font size="4">
    <font color="#FFFFFF">GET IN TOUCH TODAY<br />


<h2 class="wsite-content-title" style="text-align:CENTER; background-color:rgb(0, 0, 211);">
    <font size="2">
        <font color="#FFFFFF">Explore your options with the fasting growing energy broker <br /></font></font></h2>


        <h2 class="wsite-content-title" style="text-align:CENTER; background-color:rgb(0, 0, 211);">
    <font size="4">
    <font color="#FFFFFF">EMAIL US AT: UNITEDSERVICESENERGY@USA.COM<br /></h2>

 <h2 class="wsite-content-title" style="text-align:CENTER; background-color:rgb(0, 0, 211);">
    <font size="4">
    <font color="#FFFFFF">A PHILADELPHIA BASED COMPANY <br />

    </h2>

    {{ insert_me }}





</div>
</body>
</html>
